---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props as Props;
---

<a
  href={href}
  class="link link-hover flex flex-col items-center justify-center bg-transparent rounded-sm p-2 hover:bg-neutral transition-colors tooltip"
  data-tip={title}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
